html, body {
  height:100%;
}

body {
  /*margin-top:50px;*/
  background-color: #f5f5f5;
}

.navbar {
  margin-bottom: 0;
}

.fa {
  margin-right:10px;
}

.box {
  background-color: #FFF;
  padding: 5px 15px;
  border-top:3px solid #DDD;
  border-bottom:2px solid #EEE;
  border-right:1px solid #EEE;
  border-left:1px solid #EEE;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

.content h2{
  margin-bottom:30px;
}

.left {
  background-color: #222;
  padding-top:10px;
  padding-bottom:10px;
  height:100%;
  max-height:100%;
}

.left ul li {
  list-style-type: none;
}

.left a {
  color:#CCC;
  display: block;
  padding:10px 10px;
  font-weight: bold;
}

.left a:hover {
  color:#1693A5;
  /*background-color: #000;*/
  text-decoration: none;
}

.submenu a{
  background-color: #333333;
  font-weight: normal;
}
