
/**
The form control is for the form fields to be a bit bigger
*/
.form-control{

  height: 39px;

}

#skillTask{

  max-width: 100%;
  
}

img{

  max-width: 100%; /*Max width of there container*/

}

.gallery_image{

  margin-bottom: 1mm;

}
.tableTaskDetails{
  height:40px;
  line-height:20px; /* Height / no. of lines to display */
  overflow:hidden;
}

.tableTaskPrice{
  
  width: 100px;
  
}
.tableTaskTopic{

  width: 100px;

}
.tableTaskSkills {
    width: 80px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

/* CSS WRITTEN BY SHAAN
-------------------------------------------------- */

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

/* CSS
------- */

.cat-list ul li {
    margin-bottom:10px;
}

.box {
    background-color: #EEE;
    padding:10px 20px;
}

.box hr
{
    color:#FFF;
    height:1px;
    border:0;
    background:#FFF;
}

/* END OF CSS WRITTEN BY SHAAN
------------------------------------------------ */